@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body.dark{
    background-color: #111;
    color: #eee;
}


#theme-toggler{
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    font-size: 1.2rem;
}

.light #theme-toggler{  
    color: #020074;
}

.dark #theme-toggler{
    color: skyblue;
}


#date{
    font-size: 2vw;
    text-align: center;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3{
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Sen', sans-serif;
    text-align: center;
}

.username{
    font-size: 2vw;
    width: fit-content;
    outline: none;
    border: none;
    margin: 0 auto;
}

.username:focus{
    border-bottom: 2px solid gray;
}

.clock{
    font-size: 6vw;
    margin-top: 100px;
    font-family: 'Josefin Sans', sans-serif;
}

#ampm{
    font-size: 4vw;
    text-align: center;
}

.footer{
    margin-top: 10vh;
}

.footer h3{
    font-size: 2vw;
    text-align: center;
}

.dark a{
    color: #eee;
}

a{
    font-size: 2vw;
    color:black;
    margin: 10px 5px;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover{
    color: gray;
}

.footer div{
    display: flex;
    gap: 20px;
    justify-content: center;
}